<div class="col-md-4 col-md-offset-4">
	<h2>Login Form</h2>
	<form method="post" class="form">
		<div class="form-group">
			<label for="email">Email</label>
			<input type="email" name="username" class="form-control">
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" name="password" class="form-control">
		</div>
		<div class="form-group">
			<button class="btn btn-primary" type="submit">Login</button>
		</div>
	</form>
</div>